cl/xsdcl/default/AllowanceChargeReasonCode-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ccts="urn:un:unece:uncefact:documentation:2"
            xmlns="urn:oasis:names:specification:ubl:codelist:gc:AllowanceChargeReasonCode-2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified"
            targetNamespace="urn:oasis:names:specification:ubl:codelist:gc:AllowanceChargeReasonCode-2.0"
            attributeFormDefault="unqualified"
            version="1.0">
   <xsd:simpleType name="AllowanceChargeReasonCodeContentType">
      <xsd:restriction base="xsd:normalizedString">
         <xsd:enumeration value="1">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Agreed settlement</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="2">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Below specification goods</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="3">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Damaged goods</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="4">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Short delivery</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="5">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Price query</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="6">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Proof of delivery required</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="7">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Payment on account</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="8">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Returnable container charge included</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="9">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Invoice error</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="10">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Costs for draft</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="11">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Bank charges</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="12">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Agent commission</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="13">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Counter claim</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="14">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Wrong delivery</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="15">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Goods returned to agent</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="16">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Goods partly returned</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="17">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Transport damage</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="18">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Goods on consignment</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="19">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Trade discount</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="20">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Deduction for late delivery</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="21">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Advertising costs</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="22">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Customs duties</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="23">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Telephone and postal costs</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="24">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Repair costs</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="25">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Attorney fees</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="26">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Taxes</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="27">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Reclaimed deduction</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="28">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>See separate advice</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="29">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Buyer refused to take delivery</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="30">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Direct payment to seller</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="31">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Buyer disagrees with due date</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="32">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Goods not delivered</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="33">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Late delivery</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="34">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Quoted as paid to you</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="35">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Goods returned</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="36">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Invoice not received</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="37">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Credit note to debtor/not to us</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="38">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Deducted bonus</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="39">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Deducted discount</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="40">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Deducted freight costs</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="41">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Deduction against other invoices</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="42">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Credit balance(s)</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="43">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Reason unknown</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="44">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Awaiting message from seller</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="45">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Debit note to seller</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="46">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Discount beyond terms</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="47">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>See buyer's letter</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="48">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Allowance/charge error</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="49">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Substitute product</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="50">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Terms of sale error</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="51">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Required data missing</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="52">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Wrong invoice</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="53">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Duplicate invoice</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="54">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Weight error</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="55">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Additional charge not authorized</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="56">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Incorrect discount</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="57">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Price change</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="58">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Variation</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="59">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Chargeback</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="60">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Offset</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="61">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Indirect payment</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="62">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Financial reassignment</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="63">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Reinstatement of chargeback/offset</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="64">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Expecting new terms</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="65">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Settlement to agent</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="66">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Cash discount</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="67">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Delcredere costs</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="68">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Early payment allowance adjustment</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="69">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Incorrect due date for monetary amount</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="70">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Wrong monetary amount resulting from incorrect free goods quantity</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="71">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Rack or shelf replenishment service by a supplier</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="72">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Temporary special promotion</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="73">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Difference in tax rate</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="74">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Quantity discount</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="75">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Promotion discount</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="76">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Cancellation deadline passed</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="77">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Pricing discount</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="78">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Volume discount</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="79">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Sundry discount</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="80">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Card holder signature missing</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="81">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Card expiry date missing</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="82">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Card number error</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="83">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Card expired</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="84">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Test card transaction</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="85">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Permission limit exceeded</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="86">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Wrong authorisation code</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="87">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Wrong authorised amount</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="88">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Authorisation failed</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="89">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Card acceptor data error</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="ZZZ">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Mutually defined</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="AllowanceChargeReasonCodeType">
      <xsd:annotation>
         <xsd:documentation>
            <ccts:Component>
               <ccts:ComponentType>DT</ccts:ComponentType>
               <ccts:DictionaryEntryName>AllowanceChargeReasonCode_ Code. Type</ccts:DictionaryEntryName>
               <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               <ccts:DataTypeQualifier>AllowanceChargeReasonCode</ccts:DataTypeQualifier>
               <ccts:DataType>Code. Type</ccts:DataType>
            </ccts:Component>
            <ccts:Instance>
               <ccts:CodeListID>AllowanceChargeReasonCode</ccts:CodeListID>
               <ccts:CodeListAgencyID>UBL</ccts:CodeListAgencyID>
               <ccts:CodeListAgencyName>OASIS Universal Business Language</ccts:CodeListAgencyName>
               <ccts:CodeListName>AllowanceChargeReasonCode</ccts:CodeListName>
               <ccts:CodeListVersionID>2.0</ccts:CodeListVersionID>
               <ccts:CodeListURI>http://docs.oasis-open.org/ubl/os-UBL-2.0-update/cl/gc/default/AllowanceChargeReasonCode-2.0.gc</ccts:CodeListURI>
               <ccts:CodeListSchemeURI>urn:oasis:names:specification:ubl:codelist:gc:AllowanceChargeReasonCode-2.0</ccts:CodeListSchemeURI>
               <ccts:LanguageID>en</ccts:LanguageID>
            </ccts:Instance>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="AllowanceChargeReasonCodeContentType">
            <xsd:attribute name="codeListID" type="xsd:normalizedString"
                           default="AllowanceChargeReasonCode"
                           use="optional"/>
            <xsd:attribute name="codeListAgencyID" type="xsd:normalizedString" default="UBL"
                           use="optional"/>
            <xsd:attribute name="codeListAgencyName" type="xsd:string"
                           default="OASIS Universal Business Language"
                           use="optional"/>
            <xsd:attribute name="codeListName" type="xsd:string" default="AllowanceChargeReasonCode"
                           use="optional"/>
            <xsd:attribute name="codeListVersionID" type="xsd:normalizedString" default="2.0"
                           use="optional"/>
            <xsd:attribute name="name" type="xsd:string" use="optional"/>
            <xsd:attribute name="languageID" type="xsd:language" default="en" use="optional"/>
            <xsd:attribute name="codeListURI" type="xsd:anyURI"
                           default="http://docs.oasis-open.org/ubl/os-UBL-2.0-update/cl/gc/default/AllowanceChargeReasonCode-2.0.gc"
                           use="optional"/>
            <xsd:attribute name="codeListSchemeURI" type="xsd:anyURI"
                           default="urn:oasis:names:specification:ubl:codelist:gc:AllowanceChargeReasonCode-2.0"
                           use="optional"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
</xsd:schema>