cl/xsdcl/default/AllowanceChargeReasonCodeType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ccts="urn:un:unece:uncefact:documentation:2" xmlns="urn:oasis:names:specification:ubl:schema:xsd:AllowanceChargeReasonCode-2.0" targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:AllowanceChargeReasonCode-2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
   <xsd:simpleType name="AllowanceChargeReasonCodeCodeContentType">
      <xsd:restriction base="xsd:normalizedString">
         <xsd:enumeration value="1">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Agreed settlement</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="2">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Below specification goods</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="3">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Damaged goods</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="4">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Short delivery</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="5">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Price query</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="6">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Proof of delivery required</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="7">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Payment on account</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="8">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Returnable container charge included</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="9">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Invoice error</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="10">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Costs for draft</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="11">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Bank charges</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="12">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Agent commission</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="13">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Counter claim</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="14">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Wrong delivery</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="15">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Goods returned to agent</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="16">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Goods partly returned</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="17">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Transport damage</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="18">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Goods on consignment</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="19">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Trade discount</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="20">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Deduction for late delivery</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="21">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Advertising costs</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="22">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Customs duties</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="23">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Telephone and postal costs</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="24">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Repair costs</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="25">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Attorney fees</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="26">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Taxes</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="27">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Reclaimed deduction</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="28">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">See separate advice</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="29">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Buyer refused to take delivery</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="30">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Direct payment to seller</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="31">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Buyer disagrees with due date</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="32">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Goods not delivered</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="33">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Late delivery</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="34">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Quoted as paid to you</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="35">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Goods returned</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="36">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Invoice not received</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="37">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Credit note to debtor/not to us</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="38">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Deducted bonus</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="39">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Deducted discount</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="40">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Deducted freight costs</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="41">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Deduction against other invoices</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="42">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Credit balance(s)</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="43">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Reason unknown</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="44">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Awaiting message from seller</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="45">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Debit note to seller</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="46">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Discount beyond terms</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="47">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">See buyer's letter</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="48">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Allowance/charge error</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="49">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Substitute product</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="50">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Terms of sale error</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="51">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Required data missing</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="52">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Wrong invoice</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="53">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Duplicate invoice</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="54">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Weight error</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="55">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Additional charge not authorized</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="56">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Incorrect discount</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="57">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Price change</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="58">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Variation</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="59">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Chargeback</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="60">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Offset</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="61">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Indirect payment</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="62">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Financial reassignment</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="63">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Reinstatement of chargeback/offset</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="64">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Expecting new terms</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="65">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Settlement to agent</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="66">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Cash discount</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="67">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Delcredere costs</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="68">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Early payment allowance adjustment</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="69">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Incorrect due date for monetary amount</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="70">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Wrong monetary amount resulting from incorrect free goods quantity</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="71">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Rack or shelf replenishment service by a supplier</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="72">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Temporary special promotion</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="73">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Difference in tax rate</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="74">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Quantity discount</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="75">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Promotion discount</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="76">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Cancellation deadline passed</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="77">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Pricing discount</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="78">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Volume discount</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="79">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Sundry discount</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="80">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Card holder signature missing</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="81">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Card expiry date missing</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="82">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Card number error</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="83">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Card expired</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="84">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Test card transaction</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="85">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Permission limit exceeded</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="86">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Wrong authorisation code</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="87">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Wrong authorised amount</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="88">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Authorisation failed</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="89">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Card acceptor data error</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="ZZZ">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Mutually defined</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="AllowanceChargeReasonCodeCodeType">
      <xsd:annotation>
         <xsd:documentation>
            <ccts:Component>
               <ccts:ComponentType>DT</ccts:ComponentType>
               <ccts:DictionaryEntryName>AllowanceChargeReasonCode_ Code. Type</ccts:DictionaryEntryName>
               <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               <ccts:DataTypeQualifier>AllowanceChargeReasonCode</ccts:DataTypeQualifier>
               <ccts:DataType>Code. Type</ccts:DataType>
            </ccts:Component>
            <ccts:Instance>
               <ccts:CodeListID>AllowanceChargeReasonCode</ccts:CodeListID>
               <ccts:CodeListAgencyID>UBL</ccts:CodeListAgencyID>
               <ccts:CodeListAgencyName>Universal Business Language</ccts:CodeListAgencyName>
               <ccts:CodeListName>AllowanceChargeReasonCode</ccts:CodeListName>
               <ccts:CodeListVersionID>2.0</ccts:CodeListVersionID>
               <ccts:CodeListSchemeURI>urn:oasis:names:specification:ubl:schema:xsd:AllowanceChargeReasonCode</ccts:CodeListSchemeURI>
               <ccts:LanguageID>en</ccts:LanguageID>
            </ccts:Instance>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="AllowanceChargeReasonCodeCodeContentType">
            <xsd:attribute name="codeListID" type="xsd:normalizedString" default="AllowanceChargeReasonCode" use="optional"/>
            <xsd:attribute name="codeListAgencyID" type="xsd:normalizedString" default="UBL" use="optional"/>
            <xsd:attribute name="codeListAgencyName" type="xsd:string" default="Universal Business Language" use="optional"/>
            <xsd:attribute name="codeListName" type="xsd:string" default="AllowanceChargeReasonCode" use="optional"/>
            <xsd:attribute name="codeListVersionID" type="xsd:normalizedString" default="2.0" use="optional"/>
            <xsd:attribute name="name" type="xsd:string" use="optional"/>
            <xsd:attribute name="languageID" type="xsd:language" default="en" use="optional"/>
            <xsd:attribute name="codeListURI" type="xsd:anyURI" use="optional"/>
            <xsd:attribute name="codeListSchemeURI" type="xsd:anyURI" default="urn:oasis:names:specification:ubl:schema:xsd:AllowanceChargeReasonCode" use="optional"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
</xsd:schema>