cl/xsdcl/default/ChannelCode-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ccts="urn:un:unece:uncefact:documentation:2"
            xmlns="urn:oasis:names:specification:ubl:codelist:gc:ChannelCode-2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified"
            targetNamespace="urn:oasis:names:specification:ubl:codelist:gc:ChannelCode-2.0"
            attributeFormDefault="unqualified"
            version="1.0">
   <xsd:simpleType name="ChannelCodeContentType">
      <xsd:restriction base="xsd:normalizedString">
         <xsd:enumeration value="AA">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Circuit switching</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AB">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>SITA</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AC">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>ARINC</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AD">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>AT&amp;T mailbox</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AE">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Peripheral device</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AF">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>U.S. Defense Switched Network</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AG">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>U.S. federal telecommunications system</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AH">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>World Wide Web</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AI">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>International calling country code</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AJ">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Alternate telephone</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AK">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Videotex number</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AL">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Cellular phone</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AM">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>International telephone direct line</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AN">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>O.F.T.P. (ODETTE File Transfer Protocol)</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AO">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Uniform Resource Location (URL)</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AP">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Very High Frequency (VHF) radio telephone</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="CA">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Cable address</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="EI">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>EDI transmission</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="EM">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Electronic mail</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="EX">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Extension</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="FT">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>File transfer access method</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="FX">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Telefax</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="GM">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>GEIS (General Electric Information Service) mailbox</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="IE">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>IBM information exchange</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="IM">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Internal mail</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="MA">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Mail</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="PB">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Postbox number</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="PS">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Packet switching</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="SW">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>S.W.I.F.T.</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="TE">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Telephone</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="TG">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Telegraph</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="TL">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Telex</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="TM">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Telemail</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="TT">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Teletext</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="TX">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>TWX</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="XF">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>X.400 address</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="XG">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Pager</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="XH">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>International telephone switchboard</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="XI">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>National telephone direct line</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="XJ">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>National telephone switchboard</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ChannelCodeType">
      <xsd:annotation>
         <xsd:documentation>
            <ccts:Component>
               <ccts:ComponentType>DT</ccts:ComponentType>
               <ccts:DictionaryEntryName>ChannelCode_ Code. Type</ccts:DictionaryEntryName>
               <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               <ccts:DataTypeQualifier>ChannelCode</ccts:DataTypeQualifier>
               <ccts:DataType>Code. Type</ccts:DataType>
            </ccts:Component>
            <ccts:Instance>
               <ccts:CodeListID>ChannelCode</ccts:CodeListID>
               <ccts:CodeListAgencyID>UBL</ccts:CodeListAgencyID>
               <ccts:CodeListAgencyName>OASIS Universal Business Language</ccts:CodeListAgencyName>
               <ccts:CodeListName>ChannelCode</ccts:CodeListName>
               <ccts:CodeListVersionID>2.0</ccts:CodeListVersionID>
               <ccts:CodeListURI>http://docs.oasis-open.org/ubl/os-UBL-2.0-update/cl/gc/default/ChannelCode-2.0.gc</ccts:CodeListURI>
               <ccts:CodeListSchemeURI>urn:oasis:names:specification:ubl:codelist:gc:ChannelCode-2.0</ccts:CodeListSchemeURI>
               <ccts:LanguageID>en</ccts:LanguageID>
            </ccts:Instance>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="ChannelCodeContentType">
            <xsd:attribute name="codeListID" type="xsd:normalizedString" default="ChannelCode"
                           use="optional"/>
            <xsd:attribute name="codeListAgencyID" type="xsd:normalizedString" default="UBL"
                           use="optional"/>
            <xsd:attribute name="codeListAgencyName" type="xsd:string"
                           default="OASIS Universal Business Language"
                           use="optional"/>
            <xsd:attribute name="codeListName" type="xsd:string" default="ChannelCode" use="optional"/>
            <xsd:attribute name="codeListVersionID" type="xsd:normalizedString" default="2.0"
                           use="optional"/>
            <xsd:attribute name="name" type="xsd:string" use="optional"/>
            <xsd:attribute name="languageID" type="xsd:language" default="en" use="optional"/>
            <xsd:attribute name="codeListURI" type="xsd:anyURI"
                           default="http://docs.oasis-open.org/ubl/os-UBL-2.0-update/cl/gc/default/ChannelCode-2.0.gc"
                           use="optional"/>
            <xsd:attribute name="codeListSchemeURI" type="xsd:anyURI"
                           default="urn:oasis:names:specification:ubl:codelist:gc:ChannelCode-2.0"
                           use="optional"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
</xsd:schema>