cl/xsdcl/default/LatitudeDirectionCodeType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ccts="urn:un:unece:uncefact:documentation:2" xmlns="urn:oasis:names:specification:ubl:schema:xsd:LatitudeDirectionCode-2.0" targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:LatitudeDirectionCode-2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
   <xsd:simpleType name="LatitudeDirectionCodeCodeContentType">
      <xsd:restriction base="xsd:normalizedString">
         <xsd:enumeration value="North">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">North</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="South">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">South</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="LatitudeDirectionCodeCodeType">
      <xsd:annotation>
         <xsd:documentation>
            <ccts:Component>
               <ccts:ComponentType>DT</ccts:ComponentType>
               <ccts:DictionaryEntryName>LatitudeDirectionCode_ Code. Type</ccts:DictionaryEntryName>
               <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               <ccts:DataTypeQualifier>LatitudeDirectionCode</ccts:DataTypeQualifier>
               <ccts:DataType>Code. Type</ccts:DataType>
            </ccts:Component>
            <ccts:Instance>
               <ccts:CodeListID>LatitudeDirectionCode</ccts:CodeListID>
               <ccts:CodeListAgencyID>UBL</ccts:CodeListAgencyID>
               <ccts:CodeListAgencyName>Universal Business Language</ccts:CodeListAgencyName>
               <ccts:CodeListName>LatitudeDirectionCode</ccts:CodeListName>
               <ccts:CodeListVersionID>2.0</ccts:CodeListVersionID>
               <ccts:CodeListSchemeURI>urn:oasis:names:specification:ubl:schema:xsd:LatitudeDirectionCode</ccts:CodeListSchemeURI>
               <ccts:LanguageID>en</ccts:LanguageID>
            </ccts:Instance>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="LatitudeDirectionCodeCodeContentType">
            <xsd:attribute name="codeListID" type="xsd:normalizedString" default="LatitudeDirectionCode" use="optional"/>
            <xsd:attribute name="codeListAgencyID" type="xsd:normalizedString" default="UBL" use="optional"/>
            <xsd:attribute name="codeListAgencyName" type="xsd:string" default="Universal Business Language" use="optional"/>
            <xsd:attribute name="codeListName" type="xsd:string" default="LatitudeDirectionCode" use="optional"/>
            <xsd:attribute name="codeListVersionID" type="xsd:normalizedString" default="2.0" use="optional"/>
            <xsd:attribute name="name" type="xsd:string" use="optional"/>
            <xsd:attribute name="languageID" type="xsd:language" default="en" use="optional"/>
            <xsd:attribute name="codeListURI" type="xsd:anyURI" use="optional"/>
            <xsd:attribute name="codeListSchemeURI" type="xsd:anyURI" default="urn:oasis:names:specification:ubl:schema:xsd:LatitudeDirectionCode" use="optional"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
</xsd:schema>