cl/xsdcl/default/PaymentMeansCodeType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ccts="urn:un:unece:uncefact:documentation:2" xmlns="urn:oasis:names:specification:ubl:schema:xsd:PaymentMeansCode-2.0" targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:PaymentMeansCode-2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
   <xsd:simpleType name="PaymentMeansCodeCodeContentType">
      <xsd:restriction base="xsd:normalizedString">
         <xsd:enumeration value="1">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Instrument not defined</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="2">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Automated clearing house credit</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="3">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Automated clearing house debit</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="4">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">ACH demand debit reversal</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="5">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">ACH demand credit reversal</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="6">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">ACH demand credit</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="7">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">ACH demand debit</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="8">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Hold</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="9">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">National or regional clearing</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="10">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">cash</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="11">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">savings credit reversal</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="12">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">savings debit reversal</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="13">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">savings credit</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="14">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">savings debit</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="15">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Bookentry credit</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="16">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Bookentry debit</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="17">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">demand cash concentration/disbursement (CCD) credit</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="18">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">demand cash concentration/disbursement (CCD) debit</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="19">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">demand corporate trade payment (CTP) credit</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="20">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Cheque</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="21">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Banker's draft</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="22">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Certified banker's draft</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="23">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Bank cheque (issued by a banking or similar establishment)</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="24">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Bill of exchange awaiting acceptance</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="25">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Certified cheque</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="26">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Local cheque</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="27">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">demand corporate trade payment (CTP) debit</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="28">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">demand corporate trade exchange (CTX) credit</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="29">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">demand corporate trade exchange (CTX) debit</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="30">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Credit transfer</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="31">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Debit transfer</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="32">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">demand cash concentration/disbursement plus (CCD+) credit</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="33">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">demand cash concentration/disbursement plus (CCD+) debit</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="34">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">prearranged payment and deposit (PPD)</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="35">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">savings cash concentration/disbursement (CCD) credit</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="36">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">savings cash concentration/disbursement (CCD) debit</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="37">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">savings corporate trade payment (CTP) credit</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="38">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">savings corporate trade payment (CTP) debit</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="39">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">savings corporate trade exchange (CTX) credit</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="40">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">savings corporate trade exchange (CTX) debit</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="41">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">savings cash concentration/disbursement plus (CCD+) credit</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="42">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Payment to bank account</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="43">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">savings cash concentration/disbursement plus (CCD+) debit</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="44">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Accepted bill of exchange</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="45">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Referenced home-banking credit transfer</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="46">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Interbank debit transfer</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="47">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Home-banking debit transfer</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="48">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Bank card</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="49">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Direct debit</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="50">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Payment by postgiro</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="51">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">norme 6 97-Telereglement CFONB (French Organisation for Banking Standards)  - Option A</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="52">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Urgent commercial payment</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="53">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Urgent Treasury Payment</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="60">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Promissory note</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="61">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Promissory note signed by the debtor</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="62">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Promissory note signed by the debtor and endorsed by a bank</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="63">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Promissory note signed by the debtor and endorsed by a third party</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="64">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Promissory note signed by a bank</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="65">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Promissory note signed by a bank and endorsed by another bank</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="66">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Promissory note signed by a third party</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="67">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Promissory note signed by a third party and endorsed by a bank</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="70">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Bill drawn by the creditor on the debtor</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="74">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Bill drawn by the creditor on a bank</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="75">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Bill drawn by the creditor, endorsed by another bank</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="76">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Bill drawn by the creditor on a bank and endorsed by a third party</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="77">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Bill drawn by the creditor on a third party</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="78">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Bill drawn by creditor on third party, accepted and endorsed by bank</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="91">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">transferable banker's draft</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="92">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">transferable local cheque</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="93">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Reference giro</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="94">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Urgent giro</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="95">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Free format giro</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="96">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Requested method for payment was not used</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="97">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Clearing between partners</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="ZZZ">
            <xsd:annotation>
               <xsd:documentation>
                  <CodeName xmlns="">Mutually defined</CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PaymentMeansCodeCodeType">
      <xsd:annotation>
         <xsd:documentation>
            <ccts:Component>
               <ccts:ComponentType>DT</ccts:ComponentType>
               <ccts:DictionaryEntryName>PaymentMeansCode_ Code. Type</ccts:DictionaryEntryName>
               <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               <ccts:DataTypeQualifier>PaymentMeansCode</ccts:DataTypeQualifier>
               <ccts:DataType>Code. Type</ccts:DataType>
            </ccts:Component>
            <ccts:Instance>
               <ccts:CodeListID>PaymentMeansCode</ccts:CodeListID>
               <ccts:CodeListAgencyID>UBL</ccts:CodeListAgencyID>
               <ccts:CodeListAgencyName>Universal Business Language</ccts:CodeListAgencyName>
               <ccts:CodeListName>PaymentMeansCode</ccts:CodeListName>
               <ccts:CodeListVersionID>2.0</ccts:CodeListVersionID>
               <ccts:CodeListSchemeURI>urn:oasis:names:specification:ubl:schema:xsd:PaymentMeansCode</ccts:CodeListSchemeURI>
               <ccts:LanguageID>en</ccts:LanguageID>
            </ccts:Instance>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="PaymentMeansCodeCodeContentType">
            <xsd:attribute name="codeListID" type="xsd:normalizedString" default="PaymentMeansCode" use="optional"/>
            <xsd:attribute name="codeListAgencyID" type="xsd:normalizedString" default="UBL" use="optional"/>
            <xsd:attribute name="codeListAgencyName" type="xsd:string" default="Universal Business Language" use="optional"/>
            <xsd:attribute name="codeListName" type="xsd:string" default="PaymentMeansCode" use="optional"/>
            <xsd:attribute name="codeListVersionID" type="xsd:normalizedString" default="2.0" use="optional"/>
            <xsd:attribute name="name" type="xsd:string" use="optional"/>
            <xsd:attribute name="languageID" type="xsd:language" default="en" use="optional"/>
            <xsd:attribute name="codeListURI" type="xsd:anyURI" use="optional"/>
            <xsd:attribute name="codeListSchemeURI" type="xsd:anyURI" default="urn:oasis:names:specification:ubl:schema:xsd:PaymentMeansCode" use="optional"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
</xsd:schema>