cl/xsdcl/default/PaymentMeansCode-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ccts="urn:un:unece:uncefact:documentation:2"
            xmlns="urn:oasis:names:specification:ubl:codelist:gc:PaymentMeansCode-2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified"
            targetNamespace="urn:oasis:names:specification:ubl:codelist:gc:PaymentMeansCode-2.0"
            attributeFormDefault="unqualified"
            version="1.0">
   <xsd:simpleType name="PaymentMeansCodeContentType">
      <xsd:restriction base="xsd:normalizedString">
         <xsd:enumeration value="1">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Instrument not defined</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="2">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Automated clearing house credit</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="3">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Automated clearing house debit</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="4">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>ACH demand debit reversal</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="5">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>ACH demand credit reversal</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="6">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>ACH demand credit</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="7">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>ACH demand debit</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="8">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Hold</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="9">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>National or regional clearing</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="10">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>cash</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="11">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>savings credit reversal</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="12">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>savings debit reversal</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="13">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>savings credit</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="14">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>savings debit</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="15">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Bookentry credit</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="16">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Bookentry debit</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="17">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>demand cash concentration/disbursement (CCD) credit</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="18">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>demand cash concentration/disbursement (CCD) debit</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="19">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>demand corporate trade payment (CTP) credit</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="20">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Cheque</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="21">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Banker's draft</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="22">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Certified banker's draft</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="23">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Bank cheque (issued by a banking or similar establishment)</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="24">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Bill of exchange awaiting acceptance</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="25">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Certified cheque</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="26">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Local cheque</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="27">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>demand corporate trade payment (CTP) debit</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="28">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>demand corporate trade exchange (CTX) credit</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="29">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>demand corporate trade exchange (CTX) debit</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="30">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Credit transfer</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="31">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Debit transfer</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="32">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>demand cash concentration/disbursement plus (CCD+) credit</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="33">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>demand cash concentration/disbursement plus (CCD+) debit</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="34">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>prearranged payment and deposit (PPD)</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="35">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>savings cash concentration/disbursement (CCD) credit</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="36">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>savings cash concentration/disbursement (CCD) debit</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="37">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>savings corporate trade payment (CTP) credit</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="38">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>savings corporate trade payment (CTP) debit</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="39">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>savings corporate trade exchange (CTX) credit</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="40">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>savings corporate trade exchange (CTX) debit</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="41">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>savings cash concentration/disbursement plus (CCD+) credit</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="42">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Payment to bank account</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="43">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>savings cash concentration/disbursement plus (CCD+) debit</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="44">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Accepted bill of exchange</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="45">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Referenced home-banking credit transfer</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="46">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Interbank debit transfer</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="47">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Home-banking debit transfer</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="48">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Bank card</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="49">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Direct debit</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="50">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Payment by postgiro</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="51">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>norme 6 97-Telereglement CFONB (French Organisation for Banking Standards)  - Option A</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="52">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Urgent commercial payment</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="53">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Urgent Treasury Payment</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="60">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Promissory note</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="61">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Promissory note signed by the debtor</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="62">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Promissory note signed by the debtor and endorsed by a bank</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="63">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Promissory note signed by the debtor and endorsed by a third party</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="64">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Promissory note signed by a bank</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="65">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Promissory note signed by a bank and endorsed by another bank</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="66">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Promissory note signed by a third party</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="67">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Promissory note signed by a third party and endorsed by a bank</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="70">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Bill drawn by the creditor on the debtor</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="74">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Bill drawn by the creditor on a bank</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="75">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Bill drawn by the creditor, endorsed by another bank</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="76">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Bill drawn by the creditor on a bank and endorsed by a third party</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="77">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Bill drawn by the creditor on a third party</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="78">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Bill drawn by creditor on third party, accepted and endorsed by bank</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="91">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>transferable banker's draft</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="92">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>transferable local cheque</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="93">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Reference giro</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="94">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Urgent giro</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="95">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Free format giro</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="96">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Requested method for payment was not used</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="97">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Clearing between partners</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="ZZZ">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Mutually defined</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PaymentMeansCodeType">
      <xsd:annotation>
         <xsd:documentation>
            <ccts:Component>
               <ccts:ComponentType>DT</ccts:ComponentType>
               <ccts:DictionaryEntryName>PaymentMeansCode_ Code. Type</ccts:DictionaryEntryName>
               <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               <ccts:DataTypeQualifier>PaymentMeansCode</ccts:DataTypeQualifier>
               <ccts:DataType>Code. Type</ccts:DataType>
            </ccts:Component>
            <ccts:Instance>
               <ccts:CodeListID>PaymentMeansCode</ccts:CodeListID>
               <ccts:CodeListAgencyID>UBL</ccts:CodeListAgencyID>
               <ccts:CodeListAgencyName>OASIS Universal Business Language</ccts:CodeListAgencyName>
               <ccts:CodeListName>PaymentMeansCode</ccts:CodeListName>
               <ccts:CodeListVersionID>2.0</ccts:CodeListVersionID>
               <ccts:CodeListURI>http://docs.oasis-open.org/ubl/os-UBL-2.0-update/cl/gc/default/PaymentMeansCode-2.0.gc</ccts:CodeListURI>
               <ccts:CodeListSchemeURI>urn:oasis:names:specification:ubl:codelist:gc:PaymentMeansCode-2.0</ccts:CodeListSchemeURI>
               <ccts:LanguageID>en</ccts:LanguageID>
            </ccts:Instance>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="PaymentMeansCodeContentType">
            <xsd:attribute name="codeListID" type="xsd:normalizedString" default="PaymentMeansCode"
                           use="optional"/>
            <xsd:attribute name="codeListAgencyID" type="xsd:normalizedString" default="UBL"
                           use="optional"/>
            <xsd:attribute name="codeListAgencyName" type="xsd:string"
                           default="OASIS Universal Business Language"
                           use="optional"/>
            <xsd:attribute name="codeListName" type="xsd:string" default="PaymentMeansCode" use="optional"/>
            <xsd:attribute name="codeListVersionID" type="xsd:normalizedString" default="2.0"
                           use="optional"/>
            <xsd:attribute name="name" type="xsd:string" use="optional"/>
            <xsd:attribute name="languageID" type="xsd:language" default="en" use="optional"/>
            <xsd:attribute name="codeListURI" type="xsd:anyURI"
                           default="http://docs.oasis-open.org/ubl/os-UBL-2.0-update/cl/gc/default/PaymentMeansCode-2.0.gc"
                           use="optional"/>
            <xsd:attribute name="codeListSchemeURI" type="xsd:anyURI"
                           default="urn:oasis:names:specification:ubl:codelist:gc:PaymentMeansCode-2.0"
                           use="optional"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
</xsd:schema>