cl/xsdcl/default/RejectReasonCode-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ccts="urn:un:unece:uncefact:documentation:2"
            xmlns="urn:oasis:names:specification:ubl:codelist:gc:RejectReasonCode-2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified"
            targetNamespace="urn:oasis:names:specification:ubl:codelist:gc:RejectReasonCode-2.0"
            attributeFormDefault="unqualified"
            version="1.0">
   <xsd:simpleType name="RejectReasonCodeContentType">
      <xsd:restriction base="xsd:normalizedString"/>
   </xsd:simpleType>
   <xsd:complexType name="RejectReasonCodeType">
      <xsd:annotation>
         <xsd:documentation>
            <ccts:Component>
               <ccts:ComponentType>DT</ccts:ComponentType>
               <ccts:DictionaryEntryName>RejectReasonCode_ Code. Type</ccts:DictionaryEntryName>
               <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               <ccts:DataTypeQualifier>RejectReasonCode</ccts:DataTypeQualifier>
               <ccts:DataType>Code. Type</ccts:DataType>
            </ccts:Component>
            <ccts:Instance>
               <ccts:CodeListID>RejectReasonCode</ccts:CodeListID>
               <ccts:CodeListAgencyID>UBL</ccts:CodeListAgencyID>
               <ccts:CodeListAgencyName>OASIS Universal Business Language</ccts:CodeListAgencyName>
               <ccts:CodeListName>RejectReasonCode</ccts:CodeListName>
               <ccts:CodeListVersionID>2.0</ccts:CodeListVersionID>
               <ccts:CodeListURI>http://docs.oasis-open.org/ubl/os-UBL-2.0-update/cl/gc/default/RejectReasonCode-2.0.gc</ccts:CodeListURI>
               <ccts:CodeListSchemeURI>urn:oasis:names:specification:ubl:codelist:gc:RejectReasonCode-2.0</ccts:CodeListSchemeURI>
               <ccts:LanguageID>en</ccts:LanguageID>
            </ccts:Instance>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="RejectReasonCodeContentType">
            <xsd:attribute name="codeListID" type="xsd:normalizedString" default="RejectReasonCode"
                           use="optional"/>
            <xsd:attribute name="codeListAgencyID" type="xsd:normalizedString" default="UBL"
                           use="optional"/>
            <xsd:attribute name="codeListAgencyName" type="xsd:string"
                           default="OASIS Universal Business Language"
                           use="optional"/>
            <xsd:attribute name="codeListName" type="xsd:string" default="RejectReasonCode" use="optional"/>
            <xsd:attribute name="codeListVersionID" type="xsd:normalizedString" default="2.0"
                           use="optional"/>
            <xsd:attribute name="name" type="xsd:string" use="optional"/>
            <xsd:attribute name="languageID" type="xsd:language" default="en" use="optional"/>
            <xsd:attribute name="codeListURI" type="xsd:anyURI"
                           default="http://docs.oasis-open.org/ubl/os-UBL-2.0-update/cl/gc/default/RejectReasonCode-2.0.gc"
                           use="optional"/>
            <xsd:attribute name="codeListSchemeURI" type="xsd:anyURI"
                           default="urn:oasis:names:specification:ubl:codelist:gc:RejectReasonCode-2.0"
                           use="optional"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
</xsd:schema>