cl/xsdcl/default/TransportEquipmentTypeCode-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ccts="urn:un:unece:uncefact:documentation:2"
            xmlns="urn:oasis:names:specification:ubl:codelist:gc:TransportEquipmentTypeCode-2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified"
            targetNamespace="urn:oasis:names:specification:ubl:codelist:gc:TransportEquipmentTypeCode-2.0"
            attributeFormDefault="unqualified"
            version="1.0">
   <xsd:simpleType name="TransportEquipmentTypeCodeContentType">
      <xsd:restriction base="xsd:normalizedString">
         <xsd:enumeration value="AA">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Ground equipment</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AB">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Chain</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AD">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Temperature recorder</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AE">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Body trailer</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AG">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Slipsheet</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AH">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>No special equipment needed</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AI">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Vessel hold</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AJ">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Flat rack</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AK">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Aircraft</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AL">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Medical device</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AM">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Refrigerated container</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AN">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Synthetic pallet 80*120cm</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AO">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Synthetic pallet 100*120cm</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AP">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Clothing hanger rack</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AQ">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Road/rail trailer</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AT">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Overhang wagon</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="BL">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Blocks</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="BPN">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Box pallet non-exchangeable</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="BPO">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Truck being transported</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="BPP">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Truck and trailer combination being transported</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="BPQ">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Tractor and trailer being transported</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="BPR">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Postal bag</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="BPS">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Letter Tray</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="BPT">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Roller Cage</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="BPU">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Flats Tray</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="BPV">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Out of bag parcel</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="BPW">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Wheeled Platform</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="BPX">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Container non-compliant with the Customs Convention on Containers</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="BPY">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Box pallet EUR Y non exchangeable</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="BR">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Barge</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="BX">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Boxcar</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="CH">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Chassis</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="CN">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Container</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="DPA">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Deadlight (panel)</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="EFP">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Exchangeable EUR flat pallet</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="EYP">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Exchangeable EUR Y box pallet</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="FPN">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Flat pallet EUR non exchangeable</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="FPR">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Flat pallet (railway property) non-exchangeable</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="IL">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Lidded stackable rigid tray (CEN TS 14482:2002)</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="LAR">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Lashing rope</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="LU">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Load/unload device on equipment</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="MPA">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Movable panel</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="PA">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Pallet</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="PBP">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Identified private box pallet</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="PFP">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Identified private flat pallet</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="PL">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Platform</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="PPA">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Protecting panel</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="PST">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Portable stove</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="RF">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Flat car</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="RG">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Reefer generator</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="RGF">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Ground facility</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="RO">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Rope</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="RR">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Rail car</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="SPP">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Identified special pallet</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="STR">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Strap</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="SW">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Swap body</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="TE">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Trailer</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="TP">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Tarpaulin</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="TS">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Tackles</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="TSU">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Tarpaulin support</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="UL">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>ULD (Unit load device)</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="TransportEquipmentTypeCodeType">
      <xsd:annotation>
         <xsd:documentation>
            <ccts:Component>
               <ccts:ComponentType>DT</ccts:ComponentType>
               <ccts:DictionaryEntryName>TransportEquipmentTypeCode_ Code. Type</ccts:DictionaryEntryName>
               <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               <ccts:DataTypeQualifier>TransportEquipmentTypeCode</ccts:DataTypeQualifier>
               <ccts:DataType>Code. Type</ccts:DataType>
            </ccts:Component>
            <ccts:Instance>
               <ccts:CodeListID>TransportEquipmentTypeCode</ccts:CodeListID>
               <ccts:CodeListAgencyID>UBL</ccts:CodeListAgencyID>
               <ccts:CodeListAgencyName>OASIS Universal Business Language</ccts:CodeListAgencyName>
               <ccts:CodeListName>TransportEquipmentTypeCode</ccts:CodeListName>
               <ccts:CodeListVersionID>2.0</ccts:CodeListVersionID>
               <ccts:CodeListURI>http://docs.oasis-open.org/ubl/os-UBL-2.0-update/cl/gc/default/TransportEquipmentTypeCode-2.0.gc</ccts:CodeListURI>
               <ccts:CodeListSchemeURI>urn:oasis:names:specification:ubl:codelist:gc:TransportEquipmentTypeCode-2.0</ccts:CodeListSchemeURI>
               <ccts:LanguageID>en</ccts:LanguageID>
            </ccts:Instance>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="TransportEquipmentTypeCodeContentType">
            <xsd:attribute name="codeListID" type="xsd:normalizedString"
                           default="TransportEquipmentTypeCode"
                           use="optional"/>
            <xsd:attribute name="codeListAgencyID" type="xsd:normalizedString" default="UBL"
                           use="optional"/>
            <xsd:attribute name="codeListAgencyName" type="xsd:string"
                           default="OASIS Universal Business Language"
                           use="optional"/>
            <xsd:attribute name="codeListName" type="xsd:string" default="TransportEquipmentTypeCode"
                           use="optional"/>
            <xsd:attribute name="codeListVersionID" type="xsd:normalizedString" default="2.0"
                           use="optional"/>
            <xsd:attribute name="name" type="xsd:string" use="optional"/>
            <xsd:attribute name="languageID" type="xsd:language" default="en" use="optional"/>
            <xsd:attribute name="codeListURI" type="xsd:anyURI"
                           default="http://docs.oasis-open.org/ubl/os-UBL-2.0-update/cl/gc/default/TransportEquipmentTypeCode-2.0.gc"
                           use="optional"/>
            <xsd:attribute name="codeListSchemeURI" type="xsd:anyURI"
                           default="urn:oasis:names:specification:ubl:codelist:gc:TransportEquipmentTypeCode-2.0"
                           use="optional"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
</xsd:schema>