cl/xsdcl/special-purpose/PortCode-2.0-fixed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ccts="urn:un:unece:uncefact:documentation:2"
            xmlns="urn:oasis:names:specification:ubl:codelist:gc:PortCode-2.0-fixed.gc-2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified"
            targetNamespace="urn:oasis:names:specification:ubl:codelist:gc:PortCode-2.0-fixed.gc-2.0"
            attributeFormDefault="unqualified"
            version="1.0">
   <xsd:simpleType name="PortCode-2.0-fixed.gcContentType">
      <xsd:restriction base="xsd:normalizedString">
         <xsd:enumeration value="AUNGH">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Nganhurra</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="AUWBT">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Woollybutt (Oil facility)</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="BRPOU">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Ponta Ubu</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="ESFUP">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Fuentepelayo</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="ESYUN">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Yuncos</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="GBANA">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Anasuria</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="GBDDT">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Durward Dauntless</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="GBFNV">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Foinaven</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="GBMMR">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Mossmoran</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="GBSUT">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>South Arne</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="GBVGI">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Varg field</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="GTBAR">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Bárcenas</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="GTCHR">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Champerico</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="GTESQ">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Esquipulas</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="IDCEN">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Cengkareng</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="IDKSO">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Kalbut Situbondo</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="IDPGA">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Pagerungan</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="IRBMR">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Bandar Mashur</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="IRZAN">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Zanjan</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="KHKOS">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Kâmpóng Saôm</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="MXCOS">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Cosoleacaque</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="MYSEP">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Sepang, Selangor</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="NOSIR">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Siri</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="PGKUL">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Kumul</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="QAASN">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Al Shaheen</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="USEVI">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Elk Grove Village</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="USGPV">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Grapevine</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="USNJC">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Clark</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="USUFS">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Eagan</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="USYTU">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Turner</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="VEJOT">
            <xsd:annotation>
               <xsd:documentation>
                  <ccts:CodeName>Jose Terminal</ccts:CodeName>
               </xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PortCode-2.0-fixed.gcType">
      <xsd:annotation>
         <xsd:documentation>
            <ccts:Component>
               <ccts:ComponentType>DT</ccts:ComponentType>
               <ccts:DictionaryEntryName>PortCode-2.0-fixed.gc_ Code. Type</ccts:DictionaryEntryName>
               <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               <ccts:DataTypeQualifier>PortCode-2.0-fixed.gc</ccts:DataTypeQualifier>
               <ccts:DataType>Code. Type</ccts:DataType>
            </ccts:Component>
            <ccts:Instance>
               <ccts:CodeListID>PortCode-2.0-fixed.gc</ccts:CodeListID>
               <ccts:CodeListAgencyID>UBL</ccts:CodeListAgencyID>
               <ccts:CodeListAgencyName>OASIS Universal Business Language</ccts:CodeListAgencyName>
               <ccts:CodeListName>PortCode-2.0-fixed.gc</ccts:CodeListName>
               <ccts:CodeListVersionID>2.0</ccts:CodeListVersionID>
               <ccts:CodeListURI>http://docs.oasis-open.org/ubl/os-UBL-2.0-update/cl/gc/default/PortCode-2.0-fixed.gc-2.0.gc</ccts:CodeListURI>
               <ccts:CodeListSchemeURI>urn:oasis:names:specification:ubl:codelist:gc:PortCode-2.0-fixed.gc-2.0</ccts:CodeListSchemeURI>
               <ccts:LanguageID>en</ccts:LanguageID>
            </ccts:Instance>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="PortCode-2.0-fixed.gcContentType">
            <xsd:attribute name="codeListID" type="xsd:normalizedString" default="PortCode-2.0-fixed.gc"
                           use="optional"/>
            <xsd:attribute name="codeListAgencyID" type="xsd:normalizedString" default="UBL"
                           use="optional"/>
            <xsd:attribute name="codeListAgencyName" type="xsd:string"
                           default="OASIS Universal Business Language"
                           use="optional"/>
            <xsd:attribute name="codeListName" type="xsd:string" default="PortCode-2.0-fixed.gc"
                           use="optional"/>
            <xsd:attribute name="codeListVersionID" type="xsd:normalizedString" default="2.0"
                           use="optional"/>
            <xsd:attribute name="name" type="xsd:string" use="optional"/>
            <xsd:attribute name="languageID" type="xsd:language" default="en" use="optional"/>
            <xsd:attribute name="codeListURI" type="xsd:anyURI"
                           default="http://docs.oasis-open.org/ubl/os-UBL-2.0-update/cl/gc/default/PortCode-2.0-fixed.gc-2.0.gc"
                           use="optional"/>
            <xsd:attribute name="codeListSchemeURI" type="xsd:anyURI"
                           default="urn:oasis:names:specification:ubl:codelist:gc:PortCode-2.0-fixed.gc-2.0"
                           use="optional"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
</xsd:schema>