xsdrt/common/UBL-SpecializedDatatypes-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Document Type:     SpecializedDatatypes
  Generated On:      Sat Dec 31 10:07:45 1 2005

  Copyright updated:	Thu Jan 19 10:02:42 2006
  Annotations stripped:	Thu Jan 19 10:07:12 2006
-->
<!-- ===== xsd:schema Element With Namespaces Declarations ===== -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:oasis:names:draft:ubl:schema:xsd:SpecializedDatatypes-2"
    xmlns="urn:oasis:names:draft:ubl:schema:xsd:SpecializedDatatypes-2"
    xmlns:udt="urn:un:unece:uncefact:data:draft:UnqualifiedDataTypesSchemaModule:2"
    xmlns:ccts="urn:oasis:names:draft:ubl:schema:xsd:CoreComponentParameters-2"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="2">
<!-- ===== Imports ===== -->
  <xsd:import namespace="urn:un:unece:uncefact:data:draft:UnqualifiedDataTypesSchemaModule:2" schemaLocation="UnqualifiedDataTypeSchemaModule-2.xsd"/>
  <xsd:import namespace="urn:oasis:names:draft:ubl:schema:xsd:CoreComponentParameters-2" schemaLocation="UBL-CoreComponentParameters-2.xsd"/>
<!-- ===== Type Definitions ===== -->
  <xsd:complexType name="AcknowledgementResponseCodeType"><xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="listID" type="xsd:normalizedString" fixed="Acknowledgement Response" use="optional"></xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" fixed="UBL" use="optional"></xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" fixed="OASIS Universal Business Language" use="optional"></xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" fixed="Acknowledgement Response" use="optional"></xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" fixed="1.0" use="optional"></xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional"></xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" fixed="en" use="optional"></xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional"></xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" fixed="urn:oasis:names:specification:ubl:schema:xsd:AcknowledgementResponseCode-1.0" use="optional"></xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="AllowanceChargeReasonCodeType"><xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="listID" type="xsd:normalizedString" fixed="UN/ECE 4465" use="optional"></xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" fixed="6" use="optional"></xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" fixed="United Nations Economic Commission for Europe" use="optional"></xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" fixed="Adjustment Reason Description" use="optional"></xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" fixed="D03A" use="optional"></xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional"></xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" fixed="en" use="optional"></xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" fixed="http://www.unece.org/trade/untdid/d03a/tred/tred4465.htm" use="optional"></xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" fixed="urn:oasis:names:specification:ubl:schema:xsd:AllowanceChargeReasonCode-1.0" use="optional"></xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ChannelCodeType"><xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="listID" type="xsd:normalizedString" fixed="UN/ECE 3155" use="optional"></xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" fixed="6" use="optional"></xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" fixed="United Nations Economic Commission for Europe" use="optional"></xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" fixed="Communication Address Code Qualifier" use="optional"></xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" fixed="D03A" use="optional"></xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional"></xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" fixed="en" use="optional"></xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" fixed="http://www.unece.org/trade/untdid/d03a/tred/tred3155.htm" use="optional"></xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" fixed="urn:oasis:names:specification:ubl:schema:xsd:ChannelCode-1.0" use="optional"></xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ChipCodeType"><xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="listID" type="xsd:normalizedString" fixed="Chip" use="optional"></xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" fixed="UBL" use="optional"></xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" fixed="OASIS Universal Business Language" use="optional"></xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" fixed="Chip" use="optional"></xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" fixed="1.0" use="optional"></xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional"></xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" fixed="en" use="optional"></xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional"></xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" fixed="urn:oasis:names:specification:ubl:schema:xsd:ChipCode-1.0" use="optional"></xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CountryIdentificationCodeType"><xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="listID" type="xsd:normalizedString" fixed="ISO3166-1" use="optional"></xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" fixed="6" use="optional"></xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" fixed="United Nations Economic Commission for Europe" use="optional"></xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" fixed="Country" use="optional"></xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" fixed="0.3" use="optional"></xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional"></xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" fixed="en" use="optional"></xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" fixed="http://www.iso.org/iso/en/prods-services/iso3166ma/02iso-3166-code-lists/list-en1-semic.txt" use="optional"></xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" fixed="urn:oasis:names:specification:ubl:schema:xsd:CountryIdentificationCode-1.0" use="optional"></xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CurrencyCodeType"><xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="listID" type="xsd:normalizedString" fixed="ISO 4217 Alpha" use="optional"></xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" fixed="6" use="optional"></xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" fixed="United Nations Economic Commission for Europe" use="optional"></xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" fixed="Currency" use="optional"></xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" fixed="0.3" use="optional"></xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional"></xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" fixed="en" use="optional"></xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" fixed="http://www.bsi-global.com/Technical%2BInformation/Publications/_Publications/tig90x.doc" use="optional"></xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" fixed="urn:oasis:names:specification:ubl:schema:xsd:CurrencyCode-1.0" use="optional"></xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DocumentStatusCodeType"><xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="listID" type="xsd:normalizedString" fixed="Document Status" use="optional"></xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" fixed="UBL" use="optional"></xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" fixed="OASIS Universal Business Language" use="optional"></xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" fixed="Document Status" use="optional"></xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" fixed="1.0" use="optional"></xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional"></xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" fixed="en" use="optional"></xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional"></xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" fixed="urn:oasis:names:specification:ubl:schema:xsd:DocumentStatusCode-1.0" use="optional"></xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LatitudeDirectionCodeType"><xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="listID" type="xsd:normalizedString" fixed="Latitude Direction" use="optional"></xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" fixed="UBL" use="optional"></xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" fixed="OASIS Universal Business Language" use="optional"></xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" fixed="Latitude Direction" use="optional"></xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" fixed="1.0" use="optional"></xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional"></xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" fixed="en" use="optional"></xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional"></xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" fixed="urn:oasis:names:specification:ubl:schema:xsd:LatitudeDirectionCode-1.0" use="optional"></xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LineStatusCodeType"><xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="listID" type="xsd:normalizedString" fixed="Line Status" use="optional"></xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" fixed="UBL" use="optional"></xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" fixed="OASIS Universal Business Language" use="optional"></xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" fixed="Line Status" use="optional"></xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" fixed="1.0" use="optional"></xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional"></xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" fixed="en" use="optional"></xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional"></xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" fixed="urn:oasis:names:specification:ubl:schema:xsd:LineStatusCode-1.0" use="optional"></xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LongitudeDirectionCodeType"><xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="listID" type="xsd:normalizedString" fixed="Longitude Direction" use="optional"></xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" fixed="UBL" use="optional"></xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" fixed="OASIS Universal Business Language" use="optional"></xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" fixed="Longitude Direction" use="optional"></xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" fixed="1.0" use="optional"></xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional"></xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" fixed="en" use="optional"></xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional"></xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" fixed="urn:oasis:names:specification:ubl:schema:xsd:LongitudeDirectionCode-1.0" use="optional"></xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="OperatorCodeType"><xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="listID" type="xsd:normalizedString" fixed="Operator" use="optional"></xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" fixed="UBL" use="optional"></xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" fixed="OASIS Universal Business Language" use="optional"></xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" fixed="Operator" use="optional"></xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" fixed="1.0" use="optional"></xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional"></xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" fixed="en" use="optional"></xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional"></xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" fixed="urn:oasis:names:specification:ubl:schema:xsd:OperatorCode-1.0" use="optional"></xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PaymentMeansCodeType"><xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="listID" type="xsd:normalizedString" fixed="UN/ECE 4461" use="optional"></xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" fixed="6" use="optional"></xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" fixed="United Nations Economic Commission for Europe" use="optional"></xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" fixed="Payment Means" use="optional"></xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" fixed="D03A" use="optional"></xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional"></xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" fixed="en" use="optional"></xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" fixed="http://www.unece.org/trade/untdid/d03a/tred/tred4461.htm" use="optional"></xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" fixed="urn:oasis:names:specification:ubl:schema:xsd:PaymentMeansCode-1.0" use="optional"></xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="SubstitutionStatusCodeType"><xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="listID" type="xsd:normalizedString" fixed="Substitution Status" use="optional"></xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" fixed="UBL" use="optional"></xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" fixed="OASIS Universal Business Language" use="optional"></xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" fixed="Substitution Status" use="optional"></xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" fixed="1.0" use="optional"></xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional"></xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" fixed="en" use="optional"></xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional"></xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" fixed="urn:oasis:names:specification:ubl:schema:xsd:SubstitutionStatusCode-1.0" use="optional"></xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
<!-- ===== Copyright Notice ===== -->
<!--
  OASIS takes no position regarding the validity or scope of any 
  intellectual property or other rights that might be claimed to pertain 
  to the implementation or use of the technology described in this 
  document or the extent to which any license under such rights 
  might or might not be available; neither does it represent that it has 
  made any effort to identify any such rights. Information on OASIS's 
  procedures with respect to rights in OASIS specifications can be 
  found at the OASIS website. Copies of claims of rights made 
  available for publication and any assurances of licenses to be made 
  available, or the result of an attempt made to obtain a general 
  license or permission for the use of such proprietary rights by 
  implementors or users of this specification, can be obtained from 
  the OASIS Executive Director.

  OASIS invites any interested party to bring to its attention any 
  copyrights, patents or patent applications, or other proprietary 
  rights which may cover technology that may be required to 
  implement this specification. Please address the information to the 
  OASIS Executive Director.
  
  Copyright (C) OASIS Open 2001-2006. All Rights Reserved.

  This document and translations of it may be copied and furnished to 
  others, and derivative works that comment on or otherwise explain 
  it or assist in its implementation may be prepared, copied, 
  published and distributed, in whole or in part, without restriction of 
  any kind, provided that the above copyright notice and this 
  paragraph are included on all such copies and derivative works. 
  However, this document itself may not be modified in any way, 
  such as by removing the copyright notice or references to OASIS, 
  except as needed for the purpose of developing OASIS 
  specifications, in which case the procedures for copyrights defined 
  in the OASIS Intellectual Property Rights document must be 
  followed, or as required to translate it into languages other than 
  English. 

  The limited permissions granted above are perpetual and will not be 
  revoked by OASIS or its successors or assigns. 

  This document and the information contained herein is provided on 
  an "AS IS" basis and OASIS DISCLAIMS ALL WARRANTIES, 
  EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY 
  WARRANTY THAT THE USE OF THE INFORMATION HEREIN 
  WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED 
  WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A 
  PARTICULAR PURPOSE.
-->
